/* regole di stile generiche */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p > strong {
  text-transform: uppercase;
}
p > span {
  display: inline-block;
  font-size: 1.1em;
  font-weight: 700;
}

a {
  text-decoration: none;
}

.compacted {
  width: 60%;
  max-width: 1080px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

#container {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* .fixed {
  display: fixed;
  width: 100%;
} */

.list-style-none {
  list-style: none;
}

.orange-buttons {
  color: #fff;
  padding: 10px 20px;
  background-color: #fe775a;
  border-radius: 5px;
}

.login-button {
  color: #fe775a;
  background-color: #fff;
  border: 1px solid #fe775a;
  border-radius: 5px;
}
/* /regole di stile generiche */

header {
  position: relative;
  color: #33475b;
}
header nav a {
  color: #33475b;

}

/* nav bar */
nav .compacted {
  padding-top: 0px;
  padding-bottom: 0px;
}

nav.instructions {
  background-color: #f4f9fd;
  border-bottom: 1px solid #33475b;
}
nav.instructions ul {
  width: 50%;
}
nav.instructions li{
  display: inline-block;
  line-height: 45px;
  vertical-align: middle;
}

hr.nav-vertical-row {
  width: 1px;
  height: 1em;
  border: 0.5px solid #899397;
  margin: 0 20px;
}

ul.instructions-right {
  text-align: right;
}
ul.instructions-right li {
  margin-left: 20px;
}
ul.instructions-right a {
  padding: 5px 10px;
}
ul.instructions-right .search {
  color: #00a4bd;
  padding: 5px 0;
}

nav.menu {
  background-color: #ffffff;
}
nav.menu .compacted> *{
  width: 50%;
}
nav.menu img {
  margin-top: 10px;
  height: 25px;
}
nav.menu ul.float-r {
  text-align: right;
}
nav.menu li {
  display: inline-block;
  margin-left: 20px;
}
nav.menu li i {
  padding-left: 10px;
}
nav.menu a {
  line-height: 45px;
  vertical-align: middle;
}
/* /nav bar */

/* banner */
.banner {
  position: relative;
  background: linear-gradient(rgba(255,242,238,1), #fef7ef);
}

.banner-text {
  position: relative;
  padding-top: 20px;
}
.banner-text > * {
  position: relative;
  width: 35%;
  margin-top: 25px;
  z-index: 1;
}
.banner-text h1 {
  font-size: 36px;
  line-height: 0.9em;
}
.banner-text h4 {
  font-size: 12px;
  line-height: 1.6em;
}
.banner-text .orange-buttons {
  padding: 10px 20px;
}
.banner-text h5 {
  font-size: 11px;
  font-weight: 400;
}
.banner::after {
  position: absolute;
  bottom: 0%;
  right: 20%;
  height: 100%;
  width: 100%;
  background-image: url(../img/jumbotron.png);
  background-position: right bottom;
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
}
/* /banner */

/* banda orizzontale azzurro chiaro sotto il banner */
#container .banner > hr {
  position: relative;
  height: 55px;
  background-color: #afebe4;
  margin-top: 40px;
  border-top: 2px solid #33475b;
  border-bottom: 2px solid #33475b;
  z-index: 1;
}
/* /banda orizzontale azzurro chiaro sotto il banner */

/* sezione del main con bg grigio chiaro */
main section.light-grey-bg {
  background-color: #f4f9fd;
  color: #33475b;
}
main section.light-grey-bg i {
  color: #fe775a;
}

.l-g-b-blocks:not(.top) {
  background-color: #fff;
}
.l-g-b-blocks  {
  margin-top: 20px;
  margin-bottom: 20px;
}
.l-g-b-blocks  * {
  text-align: center;
  line-height: 2em;
  margin-bottom: 20px;
}
.l-g-b-blocks img {
  height: 90px;
  margin-bottom: 20px;
}

/* sezione sotto il banner con bg grigio chiaro */
.l-g-b-blocks.top {
  width: 50%;
  padding-top: 20px;
  margin: 0px auto 40px auto;
  clear: both;
}
.l-g-b-blocks.top img {
  height: 130px;
  margin-bottom: 0;
}
/* /blocco sotto il banner con bg grigio chiaro */

/* blocco orizzontale con bg bianco */
.l-g-b-blocks.horizontal {
  margin-bottom: 20px;
  padding: 70px 20px 0px 20px;
}
.l-g-b-blocks.horizontal .float-l {
  width: 30%
}
.l-g-b-blocks.horizontal .right-block .clearfix {
  position: relative;
  height: 45px;
}
.l-g-b-blocks.horizontal .float-l.right {
  width: 50%;
  padding-left: 20px;
}
.l-g-b-blocks.horizontal .right-block  * {
  text-align: left;
}
.l-g-b-blocks.horizontal .right-block p.float-l {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 25%;
}
.l-g-b-blocks.horizontal .right-block hr {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translateY(-50%);
  width: 73%;
  margin-bottom: 0px;
  border: 1px solid #899397;
  background-color: #899397;
}
.l-g-b-blocks.horizontal li {
  display: inline-block;
  padding-right: 1em;
}
.l-g-b-blocks.horizontal i {
  padding-right: 1.3em;
}
/* /blocco orizzontale con bg bianco */

/* blocchi verticali con bg bianco */
.vertical-blocks {
  padding: 20px 20px 0px 20px;
  width: 30%;
}
.vertical-blocks img {
  margin-bottom: 0px;
}
.vertical-blocks p:first-of-type {
  min-height: 100px;
}
.vertical-blocks li {
  text-align: left;
  margin-bottom: -20px;
}
.vertical-blocks li:last-child {
  margin-bottom: 0px;
}
.vertical-blocks i {
  padding-right: 1.3em;
}

.vertical-blocks.second {
  margin-left: 5%;
  margin-right: 5%;
}
/* /blocchi verticali con bg bianco */
/* /sezione del main con bg grigio chiaro */

/* sezione del main con bg gradiente blu chiaro */
section.gradient-background-lightblue {
  background: linear-gradient(45deg, #00a4bd, #00bda5);
  text-align: center;
  color: #fff;
}
.gradient-background-lightblue .compacted > * {
  margin-bottom: 20px;
  line-height: 2em;
}
.gradient-background-lightblue ul.first-row {
  border-bottom: 1px solid #fff;
}
.gradient-background-lightblue li {
  display: inline-block;
  width: 24%;
  padding: 10px;
}
.gradient-background-lightblue li:not(:last-child) {
  border-right: 1px solid #fff;
}
.gradient-background-lightblue li  *:not(img){
  padding-top: 10px;
}
.gradient-background-lightblue img {
  height: 25px;
}
.gradient-background-lightblue  h3 {
  font-size: 2.5em;
}
/* /sezione del main con bg gradiente blu chiaro */

/* sezione del main con bg bianco */
section.background-white .bg-white-text {
  line-height: 2em;
  vertical-align: middle;
  color: #33475b
}
.bg-white-text *:not(:first-child) {
  padding-top: 40px;
}
/* porzione superiore della sezione con bg bianco */
.bg-white-top {
  margin-bottom: 50px;
}
.bg-white-top .bg-white-text {
  width: 35%;
}
.bg-white-top .bg-white-text > div {
  width: 45%;
  margin: 0 auto;
}
.bg-white-text h2 {
  font-size: 3em;
}
.bg-white-brands {
  width: 65%;
  text-align: right;
}
.bg-white-brands ul:nth-child(1n+2) {
  margin-top: 40px;
}
.bg-white-brands li {
  display: inline-block;
  width: 20%;
  height: 25px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 10px;
}
.bg-white-brands li.atlassin {
  background-image: url("https://www.hubspot.com/hubfs/assets/hubspot.com/home/home_page_logos_June_2019/Atlassian-horizontal-blue@2x.png");
}
.bg-white-brands li.doordash{
  background-image: url("https://www.hubspot.com/hubfs/assets/hubspot.com/home/home_page_logos_June_2019/doordash_owler_20181011_194113_original@2x.png");
}
.bg-white-brands li.crowd {
  background-image: url("https://www.hubspot.com/hubfs/assets/hubspot.com/home/home_page_logos_June_2019/g2crowd-logo@2x.png");
}
.bg-white-brands li.purple {
  background-image: url("https://www.hubspot.com/hubfs/assets/hubspot.com/home/home_page_logos_June_2019/purple-logo@2x.png");
}
.bg-white-brands li.subaru {
  background-image: url("https://www.hubspot.com/hubfs/assets/hubspot.com/home/home_page_logos_June_2019/Subaru_Logo_v2_186x63@2x.png");
}
.bg-white-brands li.wistia {
  background-image: url("https://www.hubspot.com/hubfs/assets/hubspot.com/home/home_page_logos_June_2019/Wistia_logo@2x.png");
}
.bg-white-brands li.classpass {
  background-image: url("https://www.hubspot.com/hubfs/assets/hubspot.com/home/home_page_logos_June_2019/Classpass-logo@2x.png");
}
.bg-white-brands li.vmware {
  background-image: url("https://www.hubspot.com/hubfs/assets/hubspot.com/home/home_page_logos_June_2019/VMware_logo_gry_RGB_300dpi@2x.png");
}
/* /porzione superiore della sezione con bg bianco */

/* porzione inferiore della sezione con bg bianco */
.bg-white-bottom .bg-white-text {
  width: 40%;
}
.bg-white-bottom .bg-white-text h3 {
  font-size: 2.3em;
  line-height: 1.5em;
}
.bg-white-bottom-image {
  height: 375px;
  width: 60%;
  background-image: url(../img/woman.webp);
  background-position: right bottom;
  background-size: contain;
  background-repeat: no-repeat;
}
/* /porzione inferiore della sezione con bg bianco */
 /* /sezione del main con bg bianco */

/* footer */
footer {
  background-color: #33475b;
  color: #7c98b6;
}
footer a {
  color: #cbd6e2;
}
/* footer-top */
.footer-top h5 {
  color: #fff;
  font-size: 1.1em;
}
.footer-top ul {
  width: 24%;
}
.footer-top ul:not(:first-child) {
  padding-left: 1%;
}
.footer-top li {
  padding-top: 10px;
}
.footer-top li:hover:not(.tools-generators):not(.contact-button):not(.social) a {
  color: #7fd1de;
}
li.tools-generators a {
  color: #fff;
}
li.contact-button a {
  color: #33475b;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
}
.contact-button {
  margin-top: 10px;
}
/* lista con link ai social */
li.social ul {
  width: 100%;
}
li.social ul li {
  display: inline-block;

}
li.social ul li:not(:first-child) {
  padding-left: 20px;
}
li.social ul li:hover a {
  color: #7fd1de;
}
/* /footer top */
