/* regole di stile generiche */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p > strong {
  text-transform: uppercase;
}

.compacted {
  width: 60%;
  margin: 0 auto;
}

#container {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* .fixed {
  display: fixed;
  width: 100%;
} */

.list-style-none {
  list-style: none;
}

.orange-buttons {
  color: #fff;
  padding: 10px 20px;
  background-color: #fe775a;
  border-radius: 5px;
}

.login-button {
  color: #fe775a;
  background-color: #fff;
  border: 1px solid #fe775a;
  border-radius: 5px;
}
/* /regole di stile generiche */

header {
  height: 450px;
  color: #33475b;
}
header nav a {
  color: #32495b;

}

/* nav bar */
nav.instructions {
  background-color: #f4f9fd;
  height: 10%;
  border-bottom: 1px solid #32495b;
}
nav.instructions ul {
  width: 50%;
}
nav.instructions li{
  display: inline-block;
  line-height: 45px;
  vertical-align: middle;
}

hr.nav-vertical-row {
  width: 1px;
  height: 1em;
  border: 0.5px solid #899397;
  margin: 0 20px;
}

ul.instructions-right {
  text-align: right;
}
ul.instructions-right li {
  margin-left: 20px;
}
ul.instructions-right a {
  padding: 5px 10px;
}
ul.instructions-right .search {
  color: #00a4bd;
  padding: 5px 0;
}

nav.menu {
  background-color: #ffffff;
  height: 10%;
}
nav.menu > *{
  width: 50%;
}
nav.menu img {
  margin-top: 10px;
  height: 25px;
}
nav.menu ul.float-r {
  text-align: right;
}
nav.menu li {
  display: inline-block;
  margin-left: 20px;
}
nav.menu li i {
  padding-left: 10px;
}
nav.menu a {
  line-height: 45px;
  vertical-align: middle;
}
/* /nav bar */

/* banner */
.banner {
  position: relative;
  height: 80%;
  background: linear-gradient(rgba(255,242,238,1), #fef7ef);
}

.banner-text {
  padding-top: 20px;
}
.banner-text > * {
  width: 35%;
  margin-top: 25px;
}
.banner-text h1 {
  font-size: 36px;
  line-height: 0.9em;
}
.banner-text h4 {
  font-size: 12px;
  line-height: 1.6em;
}
.banner-text .orange-buttons {
  padding: 10px 20px;
}
.banner-text h5 {
  font-size: 11px;
  font-weight: 400;
}
.banner-text::after {
  content: url(../img/jumbotron.png);
  position: absolute;
  bottom: 0;
  right: 0;
  transform: scale(0.55) translate(2%, 53.4%);
}
/* /banner */

/* banda orizzontale azzurro chiaro sotto il banner */
#container > hr {
  height: 45px;
  background-color: #afebe4;
  border-top: 2px solid #33475b;
  border-bottom: 2px solid #33475b;
}
/* /banda orizzontale azzurro chiaro sotto il banner */

/* sezione del main con bg grigio chiaro */
main section.light-grey-bg {
  background-color: #f4f9fd;
  padding-bottom: 50px;
}
main section.light-grey-bg i {
  color: #fe775a;
}

.l-g-b-blocks:not(.top) {
  background-color: #fff;
}
.l-g-b-blocks  {
  margin-top: 20px;
  margin-bottom: 20px;
}
.l-g-b-blocks  * {
  text-align: center;
  line-height: 2em;
  margin-bottom: 20px;
}
.l-g-b-blocks img {
  height: 90px;
  margin-bottom: 20px;
}

/* sezione sotto il banner con bg grigio chiaro */
.l-g-b-blocks.top {
  width: 50%;
  padding-top: 20px;
  /* margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 40px; */
  margin: 0px auto 40px auto;
  clear: both;
}
.l-g-b-blocks.top img {
  height: 130px;
  margin-bottom: 0;
}
/* /blocco sotto il banner con bg grigio chiaro */

/* blocco orizzontale con bg bianco */
.l-g-b-blocks.horizontal {
  margin-bottom: 20px;
  padding: 70px 20px 0px 20px;
}
.l-g-b-blocks.horizontal .float-l {
  width: 30%
}
.l-g-b-blocks.horizontal .float-l {
  width: 30%;
}
.l-g-b-blocks.horizontal .float-l.right {
  width: 50%;
  padding-left: 20px;
}

.l-g-b-blocks.horizontal .right-block  * {
  text-align: left;
}

.l-g-b-blocks.horizontal .right-block p.float-l {
  width: 25%;
}

.l-g-b-blocks.horizontal .right-block hr {
  width: 73%;
  margin-top: 7px;
  border: 1px solid #899397;
}

.l-g-b-blocks.horizontal li {
  display: inline-block;
  padding-right: 1em;
}
.l-g-b-blocks.horizontal i {
  padding-right: 1.3em;
}
/* /blocco orizzontale con bg bianco */

/* blocchi verticali con bg bianco */
.vertical-blocks {
  padding: 20px 20px 0px 20px;
  margin-bottom: 40px;
  width: 30%;
}
.vertical-blocks img {
  margin-bottom: 0px;
}
.vertical-blocks li {
  text-align: left;
  margin-bottom: -20px;
}
.vertical-blocks li:last-child {
  margin-bottom: 0px;
}

.vertical-blocks.second {
  margin-left: 5%;
  margin-right: 5%;
}
/* /blocchi verticali con bg bianco */
/* /sezione del main con bg grigio chiaro */

/* sezione del main con bg gradiente blu chiaro */
section.gradient-background-lightblue {
  background: linear-gradient(45deg, #00a4bd, #00bda5);
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: #fff;
}

.gradient-background-lightblue .compacted > * {
  margin-bottom: 20px;
  line-height: 2em;
}
.gradient-background-lightblue ul.first-row {
  border-bottom: 1px solid #fff;
}
.gradient-background-lightblue li {
  display: inline-block;
  width: 24%;
  padding: 10px;
}
.gradient-background-lightblue li:not(:last-child) {
  border-right: 1px solid #fff;
}
.gradient-background-lightblue img {
  height: 25px;
}
.gradient-background-lightblue  h3 {
  font-size: 2.5em;
}
