* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.compacted {
  width: 80%;
  margin: 0 auto;
}

#container {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.fixed {
  display: fixed;
  width: 100%;
}

.list-style-none {
  list-style: none;
}

.orange-buttons {
  color: #fff;
  background-color: #fe775a;
  border-radius: 5px;
}

.login-button {
  color: #fe775a;
  border: 1px solid #fe775a;
  border-radius: 5px;
}

header {
  height: 450px;
  color: #33475b;
}
header nav a {
  color: #32495b;

}
nav a {
  text-decoration: none;
}

nav.instructions {
  background-color: #f4f9fd;
  height: 10%;
  border-bottom: 1px solid #32495b;
}
nav.instructions ul {
  width: 50%;
}
nav.instructions li{
  display: inline-block;
  line-height: 45px;
  vertical-align: middle;
}

hr.nav-vertical-row {
  width: 1px;
  height: 1em;
  border: 0.5px solid #899397;
  margin: 0 20px;
}

ul.instructions-right {
  text-align: right;
}
ul.instructions-right li {
  margin-left: 20px;
}
ul.instructions-right a {
  padding: 5px 10px;
}
ul.instructions-right .search {
  color: #00a4bd;
  padding: 5px 0;
}

nav.menu {
  background-color: #ffffff;
  height: 10%;
}

.banner {
  height: 80%;
  /* background-repeat: no-repeat;
  background-size: 50% ;
  background-position: bottom -55px right;
  background-image: url(../img/jumbotron.png); */
  background: linear-gradient(0deg, rgba(254,245,239,1) 0%, rgba(255,242,238,1) 0%);
}

#container > hr {
  height: 45px;
  background-color: #afebe4;
  border-top: 2px solid #33475b;
  border-bottom: 2px solid #33475b;
}
